*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    margin: 0;
}

/* ------------ NAV BAR ----- NAV BAR ----- NAV BAR ------------ */

.badge-new {
    background-color: #000000;
    color: #0D6EFD;
  }
  
  .nav-btns-hide {
    display: flex;
    align-items: center;
  }
  
/* ------------ HEADER ----- HEADER ----- HEADER ------------ */

  .Header-section {
    background-color: #0D6EFD;
    height: 35vw;
    align-items: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .Header-section-p {
    font-size: 24px;
  }
  
  .header-sec-search-div {
    width: 50vw;
    border: 2px solid #F8F9FA;
    border-radius: 5px;
    background-color: #F8F9FA;
  }
  
  .Header-section-blue-btn {
    background-color: #6C97E7;
    color: white;
    border: none;
    margin: 5px;
    font-size: 15px;
    padding: 2px 10px;
    border-radius: 5px;
  }
  .Header-section-circle-img-div{
    margin-top: 30px;
  }
  
  .Header-section-circle-img-div img{
    width: 120px;
    border: 2px solid #6C97E7;
    padding: 3px;
  }
  
  .circle-img-animation:hover{
    transform: scale(.9);
    transition: 0.3s;
  }
  
  .Header-section-circle-img-container{
    overflow-x: scroll;
    display: flex;
  }

  /* ------------ sign up ----- sign up ----- sign up ------------ */

  .Sign-up-for-free-section{
    background-color: #C7EBFF;
    display: flex;
    justify-content: center;
    text-align:left;
    align-items: center;
  }
  
  .Sign-up-for-free-size-blw-795{
    font-size: 18px;
  }
  
  .text-freepik-dark-create-an-acct{
    font-size: 20px;
    color: #374957;
  }

  /* ------------ Explore Trendings ----- Explore Trendings ----- Explore Trendings ------------ */

  .explore-trendings{
    background-color: #F8FAFB;
    padding: 50px 20px 25px 20px;
    text-align: center;
  }
  
  .parent-for-btm-left-text{
    position: relative;
    text-align: center;
    color: white;
  }
  .bottom-left-text-in-img{
    position: absolute;
    bottom: 8px;
    left: 25px;
    font-weight: bold;
  }
  
  .img-grid-light-bg{
    background-color: #F8FAFB;
  }
  
  .parent-for-btm-left-text:hover{
    transform: scale(0.95);
    transition: 0.3s;
  }

    /* ------------ UNLOCK YOUR INNER CREATOR ----- UNLOCK YOUR INNER CREATOR ----- UNLOCK YOUR INNER CREATOR ------------ */

    .Unlock-your-inner-creator{
        align-items: center;
      }
      
      .Unlock-your-inner-creator-img{
        width: 275px;
        margin-left: 30px;
        margin-right: 30px;
      }
      
      .bottom-center-text-in-img {
        position: absolute;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
      }
      
      .explore-box{
        height: 250px;
        padding-left: 75px;
        padding-right: 75px;
        border: 2px solid rgb(186, 186, 186);
        border-radius: 15px;
        background-color: transparent;
        position: relative;
      }
      
      .explore-box-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
    /* ------------ SMART CHOICE ----- SMART CHOICE ----- SMART CHOICE ------------ */

    .The-smartest-choice-icon-box{
        width: 50px;
        height: 50px;
        position: relative;
        background-color: #C7EBFF;
        color: #0D6EFD;
        border-radius: 10px;
      }
      
      .The-smartest-choice-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .The-smartest-choice-content-head{
        font-size: 20px;
        font-weight: 500;
        color: #374957;
      }
      
    /* ------------ FOOTER ----- FOOTER ----- FOOTER ------------ */


      .footer-bg{
        background-color: #060613;
        padding-top: 70px;
      }

      .main-footer{
        margin-bottom: 100px;
      }
      .footer-list{
        list-style: none;
        color: white;
      }
      
      .footer-list h6{
        color: white;
      }
      
      .footer-list li{
        color: #5f7d95;
        font-size: 14px;
        font-weight: 500;
      }
      
      .social-media-icon{
        width: 35px;
        height: 35px;
        border-radius: 5px;
        position: relative;
      }
      
      .fb{
        background-color: #0D6EFD;
      }
      
      .twitter{
        background-color: #47A5ED;
      }
      
      .pin{
        background-color: #BE1E24;
      }
      
      .insta{
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      }
      
      .ytube{
        background-color: #AC0000;
      }

      .secont-last-footer{
        padding-inline: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: 80px;
        color: rgb(107, 115, 133);
      }
      .secont-last-footer img{
        width: 150px;
      }
      .img-div{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
      }
      .footer-end{
        background-color: #181937;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

      }

      .footer-span{
        display: flex;
        gap: 15px;
      }










    /* ------------ Pre-set ----- Pre-set ----- Pre-set ------------ */
    .a-link {
        text-decoration: none;
        color: gray;
      }
      
      .trasparent-btn{
        background-color: transparent;
        border: none;
      }
      
      .font-size-13{
        font-size: 13px;
      }
      
      .text-weight-500{
        font-weight: 500;
      }
      
      ::-webkit-scrollbar {
        display: none;
      }
      
      .text-freepik-dark{
        font-size: 30px;
        color: #374957;
      }
      .text-freepik-secondary{
        font-size: 20px;
      }
      
      .overflow-scroll-preset{
        overflow-x: scroll;
        display: flex;
      }
      
      .color-light-grey-line{
        background-color: white;
        border: 1px solid white;
      }